@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}



block{
    background-color: #E1E5EE;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    justify-self: end;
   
}

button{
    background-color: #1E232C;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}


.circulo{
    width:300px;
    height:300px;
    animation-delay: 2000;
    filter:blur(80px);
    position:absolute;
    filter:opacity(60px);
    mix-blend-mode: multiply;
    
}


.boton-RRSS{
    width:50px;
    height:50px;
    justify-items:center;
    justify-content:center;
    font:bold;
    
               
}
button:hover{
    background-color:dimgray;
}
input{
    background-color: #F7F8F9;
    border-radius: 5px;
    height: 20%;
    width: 85%;
    margin-left:2%;
    margin-top:3%;
    padding-left: 1%;
    padding-right: 5%;
    outline: none;

}
input:placeholder-shown{
    color: #8391A1;
}

p{
    font-size: 14px;
    color:#6A707C;
    text-align: center;
}