@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

block{
    background-color: #E1E5EE;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #1E232C;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}

button:hover{
    background-color:dimgray;
}
input{
    background-color: #F7F8F9;
    border-radius: 5px;
}
input:placeholder-shown{
    color: #8391A1;
}

p{
    font-size: 14px;
    color:#6A707C;
    text-align: center;
}

/*************************************************
Esta parte esta dedicada a la creacion del juego
**************************************************/
#juego{
    display: grid;
    place-content: center;
    background-color: #202020;
    height: 100vh;
}

#tablero{
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    width: 800px;
    height: 800px;
}

.casilla{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}
.casilla-negra{
    background-color: #779556;
}

.casilla-blanca{
    background-color: #ebecd0;
}

.pieza{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    width: 100px;
    height: 100px;
}

/*************************************************
Esta parte esta dedicada a la creacion del juego
**************************************************/